.raper{
    width: 100%;
    height: 100%;
    border: 1px solid green;

}
.header{
    width: 100%;
    height: 30%;
    border: 1px solid blue;
}
.content{
    width: 100%;
    height: 65%;
    border: 1px solid red;

}
.footer{
    width: 100%;
    height: 25%;
    border: 1px solid black;
}