<!DOCTYPE html>

<html lang="en">

<!-- head -->

<head>
    <meta name="author" content="Azimerw taddese,Bahiru yimola,Banteamlak Gezahegn,Bedane Deriba,Belayneh Getachew">
    <meta name="discription" content="Matric and college preparation system">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UX-Compatible" content="ie=edge">
    <title>Dahir Dar University</title>
</head>

<!-- bodt -->

<body>
    <!-- parageaph for home page -->
    <p>
    <table style="width:100%;background-color: rgb(27, 162, 172);">

        <tr>
            <th colspan="4" rowspan="6">
                <!-- logo part -->
                <img src="../../../Resources/images/banners/logo.PNG" alt="website logo" width="200" height="200">
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <!-- data for login -->
            <th>
                <a href="login.html"
                    style="color: rgb(114, 17, 17);font-size: x-large;font-family:'Times New Roman';">Login</a>
            </th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="12" rowspan="2"
                style="color:rgb(90, 57, 20); font-size:xx-large ;font-family:'Times New Roman';">
                <marquee behavior="scroll" width=50% loop=12>Matric And College preparation system</marquee>
            </td>
            <td></td>
            <td></td>


        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <!-- home -->
            <th><a href="#index.html" style="background-color: rgb(27, 160, 160);color: rgb(2, 24, 83);
            font-size:large ;font-family:'Times New Roman';"><b>Home</b></a> </th>
            <!-- books -->
            <th><select
                    style="background-color: rgb(27, 160, 160);color: rgb(18, 47, 126) ;font-size:large ;font-family:'Times New Roman';"
                    id="books" name="books">
                    <ul>
                        <li>
                            <option>Books</option>
                        </li>
                        <li>
                            <option> <a href="referebces.html">References</a></option>
                        </li>
                        <li>
                            <option> <a href="TextBooks.html">Text Books</a></option>
                        </li>
                    </ul>
                </select></th>
            <!-- exams -->
            <th>
                <ul><select style="background-color: rgb(27, 160, 160) ;font-size:large ;font-family:'Times New Roman';"
                        id="Exams" name="Exams">
                        <li>
                            <option>Exams</option>
                        </li>
                        <li>
                            <option> <a href="EX_2005">2005</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2006">2006</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2007">2007</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2008">2008</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2009">2009</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2010">2010</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2011">2011</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2012">2012</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2013">2013</a></option>
                        </li>
                        <li>
                            <option> <a href="EX_2014">2014</a></option>
                        </li>
                    </select> </ul>
            </th>
            <!-- ethiopian university -->
            <th>
                <ul><select style="background-color: rgb(27, 160, 160) ;font-size:large ;font-family:'Times New Roman'"
                        id="et_university" name="Exams">
                        <li>
                            <option>Ethiopian Universtiy</option>
                        </li>
                        <li>
                            <option> <a href="AAU.html"><abbr title="Addis Ababa University">AAU</abbr> </a></option>
                        </li>
                        <li>
                            <option> <a href="AASTU.html"><abbr
                                        title="Addis Ababa Science And Technology University">AASTU</abbr></a></option>
                        </li>
                        <li>
                            <option> <a href="ASTU.html"><abbr
                                        title="Adama Science And Technology University">ASTU</abbr></a></option>
                        </li>


                    </select> </ul>
            </th>
            <th style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);font-size:larger;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"
                id="books" name="books">
                <a href="turorian.html" style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);
            font-size:large ;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Tutorials</a>
            </th>
            <th style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);font-size:large ;
            font-family: Verdana, Geneva, Tahoma, sans-serif" id="Advices" name="Advices">
                <a href="Advices.html" style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);
            font-size:large ;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Advices</a>
            </th>
            <th style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);font-size:large ;font-family:
             Verdana, Geneva, Tahoma, sans-serif" id="insttuctor" name="Instructor">
                <a href="Instructor.html" style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);
             font-size:large ;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Instructor</a>
            </th>
            <th style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);font-size:large ;
                 font-family: Verdana, Geneva, Tahoma, sans-serif" id="news" name="news">
                <a href="New.html" style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);
                 font-size:large ;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">News</a>
            </th>
            <th style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);font-size:large ;
                font-family: Verdana, Geneva, Tahoma, sans-serif" id="About" name="about">
                <a href="about.html"
                    style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);
                font-size:large ;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><U>About</U></a>
            </th>
            <th style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);font-size:large ;
                font-family: Verdana, Geneva, Tahoma, sans-serif" id="con" name="contact">

                <a href="Contact.html" style="background-color: rgb(27, 160, 160) ;color: rgb(10, 10, 75);
                font-size:large ;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">contact</a>

            </th>
        </tr>


    </table>
    <hr>
    </p>
    <P>
    <table width="80%>">
        <tr>
            <td width="30%">
                <h1>Bahir Dar University</h1>
                <img src="../../../Resources/images/banners/bonga_logo.jpg" width="290" height="auto">
                <br><br><b>Type</b>-Public<br><br>
                <b>Established</b>- 1954 (as polytechnic college) 2001 (as university)<br><br>
                <b>Established</b>- Firew Tegegne Amogne<br><br>
                <b>Students </b> -54,000 students (2018)<br><br>
                <b>Location</b> -Bahir Dar, Amhara, Ethiopia<br><br>
                <b>Temperature</b>- www.bdu.edu.<br><br>
                <b>Campus</b>- 8 campuses<br><br>
                <b>Language</b>- English<br><br>
                <b>Website</b>- www.bdu.edu.<br><br>

            </td>
            <td width="50%" height="100%">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img
                    src="../../../Resources/images/banners/bonga.jpg" width="400" height="auto"><br>
                &nbsp;&nbsp;&nbsp;<h3>Bahir Dar University</h3>
                <p>
                    <b>Bahir Dar University</b> (Amharic: ባሕር ዳር ዩኒቨርስቲ) is a university in the city of Bahir Dar, the
                    capital of the Amhara Region in Ethiopia. The University is a combination of two smaller institutes
                    formed earlier, after the departments were gradually raised to a degree level starting from 1996.
                    The official slogan of the university is "Wisdom at the source of the Blue Nile"The University is
                    composed of five colleges, four institutes, seven faculties, two academies and two schools.
                    <hr>
                <h3>Academics</h3>
                The University projects an enrollment of over 53,000 students in the academic year beginning in October
                2015.[4] As of 2016, the university enrolled 52,830 students.
                

                </ul>

                <hr>
                </p>



            </td>




        </tr>
        <tr>
            <td></td>
        <td>
            <h3>Institutes</h3>
                <ul>
                    <li> Bahir Dar Institute of Technology</li>
                    <li> Ethiopian Institutes of Textile and Fashion Technology</li>
                    <li> Institute of Land Administration</li>
                </ul>
            <hr>
            <h3>Colleges</h3>
            <ul>
                <li> College of Agriculture and Environmen</li>
                <li> College of Medicine and Health Sciences</li>
                <li> College of Business and Economics</li>
                <li> College of Natural sciences</li>
            </ul>
            <hr>
            <h3>Schools</h3>
            <ul>
                <li> School of Law, School of Earth Sciences</li>
                <li> School of Computing and Electrical Engineering</li>
                <li>School of Civil and Water Resources Engineering</li>
                <li> School of Mechanical and Industrial Engineering</li>
                <li> School of Chemical and Food Engineering</li>
            </ul><br>





        </td>



        </tr>
    </table>




    </P>

    <table width="100%" style="background-color: rgb(27, 162, 172);">
        <tr>
            <td width="30%">OUR SERVICES
            </td>
            <td width="30%">CONTACT
            </td>
            <td width="40%">CONTACT
            </td>
        </tr>
        <tr>
            <td>
                <br>Website Development<br>

                Android Development<br>

                Website Designing<br>

                Digital Marketing<br>

                Summer Training<br>

                Industrial Training<br>

                College Campus Training<br>
            </td>
            <td>
                <br>Address: G-13, 2nd Floor, Sec-3<br>

                Noida, UP, 201301, India<br>

                Contact No: 0120-4256464, 9990449935<br>

                Contact Us<br>
                Subscribe Us<br>
                Privacy Policy<br>
                Sitemap<br>
            </td>
            <td>
                <br>Mob: +251-961098262, +251-946238635<br>
                E-mail: MCP@gmail.com<br>
                P.O.Box: <br>
                Location:Addis,Ababa,Ethiopia<br>



                Contact No: 0120-4256464, 9990449935<br>

                Contact Us<br>
                Subscribe Us<br>
                Privacy Policy<br>
                Sitemap<br>
            </td>
        </tr>



    </table>
    <hr>
    <p>

        <b style="font-size: larger; text-align:center">
            About US
        </b>

    </p>



</body>

</html>